node_modules/
dist/
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
__pycache__/
*.pyc
*.pyo
*.tsbuildinfo
.env
.env.local
.env.*.local
.DS_Store
.env.example

# Python
*.egg-info/
.venv/
venv/
.eggs/
*.egg


# Simulator
backend/simulator/.env

# AWS
.aws-sam/
samconfig.toml

*.pem